.bookmark::before,
.like::before, 
.repost::before	{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-inline-end: 0.25em;
	background-color: currentColor;
}

.bookmark::before	{ mask: url("/images/bookmark.svg"); }
.like::before	{ mask: url("/images/like.svg"); }
.reply::before	{ content: " ↵ "; }
.repost::before	{ mask: url("/images/repost.svg"); }
.watch::before	{ content: " 👁️ "; }
