.bookmark::before,
.like::before, 
.link::before, 
.reply::before, 
.repost::before,
.watch::before	{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 0.5ch;
	background-color: currentColor;
}

.bookmark::before	{ mask: url("/images/bookmark.svg"); }
.like::before	{ mask: url("/images/like.svg"); }
.link::before	{ mask: url("/images/link.svg"); }
.reply::before	{ mask: url("/images/reply.svg"); }
.repost::before	{ mask: url("/images/repost.svg"); }
.watch::before	{ mask: url("/images/watch.svg"); }
