@use "fonts";
@use "settings";
@use "skip";
@use "footer";


@view-transition {
  navigation: auto;
}


body {
  --serif: "EB Garamond 08", Georgia, serif;
  --big-serif: "EB Garamond 12", Georgia, serif;

  position: relative;
  max-width: 640px;
  min-height: 480px;

  font-family: var(--serif);
  font-size: 16pt;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  padding: 0;
}


h1, h2, h3 {
  font-family: var(--big-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-variant: all-petite-caps;
  font-weight: normal;
  text-transform: uppercase;
}


// <nav> element found in base template
#navigation-links {
  position: absolute;
  right: 0;
  top: 0;
  font-family: var(--big-serif);
  font-size: 1.5em;
  text-transform: lowercase;
}

#navigation-links ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

#navigation-links li {
  list-style-type: none;
}

#navigation-links li:not(:last-of-type) {
  margin-right: .5ch;
}

#navigation-links li[aria-current="page"] {
  font-style: italic; 
}

#navigation-links a {
  text-decoration: none;
}


#sitetitle {
  margin-block: 0;
  font-size: 1.5em;
  font-family: var(--big-serif);
  font-variant: all-petite-caps;
  text-transform: uppercase;
  font-weight: normal;
}

#sitetitle a {
  text-decoration: none;
}
