@use "fonts";
@use "settings";

body {
	font-family: "Jost";

	margin: 0;
	padding: 0;

	background-image: url("/images/backgrounds/0.svg");
	background-attachment: fixed;

	> header, > main, > footer {
		margin: settings.$margin;
	}

	> main {
		border-radius: settings.$border-radius;
		padding: settings.$padding;
	}

    h1, h2, h3, h4, h5, h6 {
    font-family: "Junicode-CondMedium", sans-serif;
    }
}

/* `max-width` is used instead of `max-inline-size` because logical properties do not work with media queries yet. */
@media all and (max-width: 960px) {
	body > main {
		border-radius: 0;
		border-inline-style: none !important;
		margin-inline: 0;
	}
}
