@use "fonts";
@use "settings";
@use "skip";
@use "footer";

@view-transition {
  navigation: auto;
}

body {
  --serif: "EB Garamond 08", Georgia, serif;
  --big-serif: "EB Garamond 12", Georgia, serif;  /* optical size */

  position: relative;
  max-width: 640px;
  min-height: 480px;

  font-family: var(--serif);
  font-size: 20px;

  margin-block: 0;
  margin-inline: auto;

  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--big-serif);
  font-variant: all-petite-caps;
  font-weight: normal;
}

#navigation-links {
  position: absolute;
  right: 0;
  top: 1em;
  
  font-family: var(--serif);
  font-size: 1.5em;
  font-style: italic;

  margin-inline: 2ch;
  margin-block: 1em;

  ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
  }

 li {
    list-style-type: none;
  }

  li:not(:last-of-type) {
    margin-right: 1ch;
  }
}

main {
  padding-inline: 0.5ch;
}

#sitetitle {
  margin-block: 0;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  font-variant: all-petite-caps;
  font-weight: normal;

  > a {
    text-decoration: none;
  }
}

#pronouns, #header-navigation > ul {
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		display: inline flow-root;
	}
}

#header-navigation > ul {
	> li {
		margin-inline-end: 1ch;
	}
	> li:last-of-type {
		margin-inline-end: 0;
	}
	> li[aria-current="page"] > a {
		text-decoration: none;
	}
}
