@use "fonts";
@use "settings";
@use "skip";
@use "footer";


body {
  --serif: "EB Garamond 08", Georgia, serif;
  --big-serif: "EB Garamond 12", Georgia, serif;  /* optical size */

  position: relative;
  max-width: 640px;
  min-height: 480px;

  font-family: var(--serif);
  font-size: 20px;

  margin-block: 0;
  margin-inline: auto;

  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--big-serif);
  font-variant: all-petite-caps;
  font-weight: normal;
}

#frame {
  width: 213px;
}

#navigation-links {
  position: absolute;
  right: 0;
  top: 1em;
  
  font-family: var(--serif);
  font-size: 1.5em;
  font-style: italic;

  margin-inline: 2ch;
  margin-block: 1em;

  ul {
    margin: 0;
    padding: 0;
  }

 li {
    list-style-type: none;
  }
}

/*#notice-button {
  position: absolute;
  inset-inline-start: 22em;
  inset-block-start: 10.25em;

  transform: rotate(-52deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  p {
    margin: 0;
  }
}*/

/*#notice-e-mail {
  transform: rotate(20deg);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 18em;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    font-family: var(--serif);
    font-size: 1.5em;
  }

  * {
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    
    p {
      inline-size: 7ch;
      text-align: center;
    }
  }
}*/


main {
  padding-inline: 0.5ch;
}

#sitetitle {
  margin-block: 0;
  font-family: 'Jost', sans-serif;
  font-size: 1em;
  font-variant: all-petite-caps;
  font-weight: normal;

  > a {
    text-decoration: none;
  }
}

#game {
  image-rendering: pixelated;
  min-width: 640px;
  height: auto;
  position: absolute;
  z-index: -2;
}
