@use "sass:color";

$foreground: #cecdc3;
$background: #000000;
$secondary: #878580;
$tertiary: #282726;
$accent: #3aa99f;

@mixin dark-theme {
	color: $foreground;
	background-color: $background;

	> header, > main {
		background-color: $background;
	}

	main {
		border: 4px solid $foreground;
		/* this is where the `light-theme` mixin has `box-shadow`. */
	}

	.secondary {
		color: $secondary;
	}

	a {
		color: $foreground;
		text-decoration: underline;
	}

	a:hover {
		color: $accent;
	}

	a:focus, ::selection {
		background-color: color.scale($accent, $alpha: -75%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary;
	}

	code {
		background-color: $tertiary;
	}

	.invert {
		filter: invert(1) hue-rotate(180deg);
	}

	pre code {
		background-color: transparent;
	}

	.footnote-reference {
		> a {
			padding-inline: 0.25ch;
			color: $background;
			background-color: $foreground;

			text-decoration: none;
		}

		> a:hover {
			background-color: $accent;
		}
	}

	.footnote-definition-label {
		padding-inline-start: 0.125ch;
	}

	.footnote-definition-label::after {
		padding-inline-end: 0.125ch;
		content: ": ";
	}

	/*table {
		th, td {
			border-color: $tertiary;
		}

		thead, tr:nth-child(even) {
			background-color: darken($tertiary, 15%);
		}
	}*/
}

@media (prefers-color-scheme: dark) {
	body {
		@include dark-theme;
	}
}
