#logo {
	display: flex;
	/*grid-template-columns: 64px 256px;*/

	/*row-gap: 0;      */
	column-gap: 1rem;
	
	> * {
		margin-block: auto;
	}	

	> img {
		inline-size: 200px;
		/*clip-path: polygon(100% 27%, 92% 90%, 96% 100%, 50% 96%, 8.69% 83.31%, 3.12% 45.19%, 9% 17%, 53% 0%);*/
	}

	> h1 a {
		text-decoration: none;
	}
}

#pronouns {
  transform: rotate(22.5deg);
  position: absolute;
  inset-block-start: 15.5em;
  inset-inline-start: 1em;

  font-style: italic;
	text-align-last: justify;

	li::after {
		content: "/";
	}
	> li:last-of-type::after {
		content: "";
	}
}

#imood {
  transform: rotate(41deg);
  position: absolute;
  inset-inline-start: 273px;
  inset-block-start: 15px;

  text-decoration: none;
}

#pronouns, #header-navigation > ul {
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		display: inline flow-root;
	}
}

#header-navigation > ul {
	> li {
		margin-inline-end: 1ch;
	}
	> li:last-of-type {
		margin-inline-end: 0;
	}
	> li[aria-current="page"] > a {
		text-decoration: none;
	}
}
