#bio {
	/*h1:first-of-type {
		margin-block: 0;
		display: flex;
		align-items: center;

		img:first-of-type {
			inline-size: 2em;
			margin-inline-end: 0.5em;
		}
	}*/

	> #logo {
		display: flex;
		/*grid-template-columns: 64px 256px;*/

		/*row-gap: 0;      */
		column-gap: 16px;
		
		> * {
			margin-block: auto;
		}	

		> img {
			inline-size: 64px;
			clip-path: polygon(100% 27%, 92% 90%, 96% 100%, 50% 96%, 8.69% 83.31%, 3.12% 45.19%, 9% 17%, 53% 0%);
		}

		> p a {
			font-size: 2em;
			text-decoration: none;
			font-weight: bold;
		}
	}
}

#pronouns {
	text-align-last: justify;
}

#imood {
	margin-block-start: 0;
	> a {
		text-decoration: none;
	}
}

#header-navigation > ul {
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		display: inline flow-root;
		margin-inline-end: 0.5em;
	}

	> li[aria-current="page"] > a {
		text-decoration: none;
	}

	> li:last-of-type {
		margin-inline-end: 0;
	}
}
