@use "sass:color";

$foreground: #000000;
$background: #fffcf0;
$secondary: #6f6e69;
$tertiary: #e6e4d9;
$accent: #24837b;

@mixin light-theme {
	color: $foreground;
	background-color: $background;
	
	> header, > main {
		background-color: $background;
	}

	> main {
		border: 4px solid $foreground;
		box-shadow: 4px 4px $foreground;
	}

	.secondary {
		color: $secondary;
	}

	a {
		color: $foreground;
		text-decoration: underline;
	}

	a:hover {
		color: $accent;
	}

	a:focus, ::selection {
		background-color: color.scale($accent, $alpha: -75%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary;
	}

	code {
		background-color: $tertiary;
	}

	/*
	this is where the `dark-theme` mixin has `.invert`.
	*/

	pre code {
		background-color: transparent;
	}

	.footnote-reference {
		> a {
			padding-inline: 0.25ch;
			color: $background;
			background-color: $foreground;

			text-decoration: none;
		}

		> a:hover {
			background-color: $accent;
		}
	}
	
	.footnote-definition-label {
		padding-inline-start: 0.125ch;
	}

	.footnote-definition-label::after {
		padding-inline-end: 0.125ch;
		content: ": ";
	}

	/*table {
		th, td {
			border-color: darken($tertiary, 5%);
		}

		thead, tr:nth-child(even) {
			background-color: lighten($tertiary, 10%);
		}
	}*/
}

@media (prefers-color-scheme: light) {
	body {
		@include light-theme;
	}
}
