@use "sass:color";

$foreground: black;
$background: ivory;
$secondary: grey;
$tertiary: beige;
$accent: darkred;
$selection: khaki;

@mixin light-theme {
  body {
    color: $foreground;
    background-color: $background;
    box-shadow: 0 0 4ch 0 #0002;
  }
  
  main {
    /*border: 4px solid $foreground;*/
    /*border-radius: 0 1ch 1ch 0;*/
    /*box-shadow: inset 0 0 0 4px #000;*/
  }

  .secondary {
    color: $secondary;
  }

  a {
    color: $foreground;
    text-decoration: underline;
  }

  a:hover {
    color: $accent;
  }

  a:focus, ::selection {
    background-color: color.scale($selection, $alpha: -50%);
  }

  blockquote {
    border-inline-start: 2px solid $foreground;
    box-shadow: inset 1ch 0 1ch 0 #0001;
  }

  code {
    background-color: $tertiary;
  }

  /*
  this is where the `dark-theme` mixin has `.invert`.
  */

  pre code {
    background-color: transparent;
  }

    

    > a:hover {
      background-color: $accent;
    }
  }
  

  /*table {
    th, td {
      border-color: darken($tertiary, 5%);
    }

    thead, tr:nth-child(even) {
      background-color: lighten($tertiary, 10%);
    }
  }*/

  #skip:focus {
    background-color: $tertiary;
  }

/*@media (prefers-color-scheme: light) {*/
  /*body {*/
    @include light-theme;
  /*}*/
/*}*/
