@use "actions";

.post > img {
  max-height: 64rem;
}

.time {
  text-decoration: none;
  font-weight: bold;
  
  a {
    text-decoration: none;
  }

  .updated {
  	float: right;
  }
}

.mention-author {
  text-decoration: none;
}

#next-previous {
  text-align: center;
}

.next,
.previous {
  display: block;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}

.next::before,
.previous::after {
  display: block;
}

.next::before { content: "↑"; }
.previous::after { content: "↓"; }
