#skip {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 1;
}

#skip:focus {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: auto;
  height: auto;
}
