@import "flexoki";

$foreground-light: $flexoki-black;
$background-light: $flexoki-paper;
$secondary-light: $flexoki-600;
$tertiary-light: $flexoki-100;
$accent-light: $flexoki-cyan-600;

$foreground-dark: $flexoki-200;
$background-dark: $flexoki-black;
$secondary-dark: $flexoki-500;
$tertiary-dark: $flexoki-900;
$accent-dark: $flexoki-cyan-400;

@mixin light-theme {
	color: $foreground-light;
	background-color: $background-light;

	border: 0.5ex solid $secondary-light;

	.secondary {
		color: $secondary-light;
	}

	a, a:link, a:visited {
		color: $accent-light;
	}

	a:hover {
		color: darken($accent-light, 30%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary-light;
	}

	code {
		background-color: $tertiary-light;
	}

	pre code {
		background-color: transparent;
	}

	.footnote-definition sup {
		color: $secondary-light;
	}

	/*table {
		th, td {
			border-color: darken($tertiary-light, 5%);
		}

		thead, tr:nth-child(even) {
			background-color: lighten($tertiary-light, 10%);
		}
	}*/
}

@mixin dark-theme {
	color: $foreground-dark;
	background-color: $background-dark;

	border: 0.5ex solid $secondary-dark;

	.secondary {
		color: $secondary-dark;
	}

	a, a:link, a:visited {
		color: $accent-dark;
	}

	a:hover {
		color: lighten($accent-dark, 10%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary-dark;
	}

	code {
		background-color: $tertiary-dark;
	}

	pre code {
		background-color: transparent;
	}

	.footnote-definition sup {
		color: $secondary-dark;
	}

	/*table {
		th, td {
			border-color: $tertiary-dark;
		}

		thead, tr:nth-child(even) {
			background-color: darken($tertiary-dark, 15%);
		}
	}*/
}

@media (prefers-color-scheme: light) {
	body {
		@include light-theme;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		@include dark-theme;
	}
}

