@use "sass:color";

$foreground-light: #100f0f;
$background-light: #fffcf0;
$secondary-light: #6f6e69;
$tertiary-light: #e6e4d9;
$accent-light: #24837b;

$foreground-dark: #cecdc3;
$background-dark: #100f0f;
$secondary-dark: #878580;
$tertiary-dark: #282726;
$accent-dark: #3aa99f;

@mixin light-theme {
	color: $foreground-light;
	background-color: $background-light;
	
	> * {
		background-color: $background-light;
	}

	main {
		border: 0.5ex solid $foreground-light;
	}

	.secondary {
		color: $secondary-light;
	}

	a {
		color: $foreground-light;
		text-decoration: underline;
	}

	a:hover {
		color: $accent-light;
	}

	a:focus, ::selection {
		background-color: color.scale($accent-light, $alpha: -75%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary-light;
	}

	code {
		background-color: $tertiary-light;
	}

	pre code {
		background-color: transparent;
	}

	.footnote-definition sup {
		color: $secondary-light;
	}

	/*table {
		th, td {
			border-color: darken($tertiary-light, 5%);
		}

		thead, tr:nth-child(even) {
			background-color: lighten($tertiary-light, 10%);
		}
	}*/
}

@mixin dark-theme {
	color: $foreground-dark;
	background-color: $background-dark;

	> * {
		background-color: $background-dark;
	}

	main {
		border: 0.5ex solid $foreground-dark;
	}

	.secondary {
		color: $secondary-dark;
	}

	a {
		color: $foreground-dark;
		text-decoration: underline;
	}

	a:hover {
		color: $accent-dark;
	}

	a:focus, ::selection {
		background-color: color.scale($accent-dark, $alpha: -75%);
	}

	blockquote {
		border-inline-start: 2px solid $secondary-dark;
	}

	code {
		background-color: $tertiary-dark;
	}

	.invert {
		filter: invert(1);
	}

	pre code {
		background-color: transparent;
	}

	.footnote-definition sup {
		color: $secondary-dark;
	}

	/*table {
		th, td {
			border-color: $tertiary-dark;
		}

		thead, tr:nth-child(even) {
			background-color: darken($tertiary-dark, 15%);
		}
	}*/
}

@media (prefers-color-scheme: light) {
	body {
		@include light-theme;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		@include dark-theme;
	}
}

