@use "john";

/* setting an element's `position` to something other than `static` redefines that which is the origin for the children */
body > footer {
	position: relative;
}

#brainmade {
	position: absolute;
	inset-inline-end: 7ch;
	inset-block-start: -2em;
}
