@use "john";

footer {
  min-inline-size: 100%;
}

#backtotop {
  image-rendering: crisp-edges;
  display: block;
  aspect-ratio: auto 443/65;
  background-image: url("/images/leaves.avif");
  background-size: contain;
  background-repeat: repeat-x;
  background-position-y: bottom;	
  min-block-size: 128px;
  max-inline-size: 100%;
  font-size: 0;
}

#backtotop:focus {
  background-color: #0000;
}
