#bio {
	/*h1:first-of-type {
		margin-block: 0;
		display: flex;
		align-items: center;

		img:first-of-type {
			inline-size: 2em;
			margin-inline-end: 0.5em;
		}
	}*/

	> div {
		display: grid;
		grid-template-columns: 64px 256px;

		row-gap: 0;
		column-gap: 16px;

		> * {
			margin-block: auto;
		}

		img.u-photo {
			inline-size: 64px;
		}

		.u-url.p-name {
			font-size: 2em;
			text-decoration: none;
			font-weight: bold;
		}
	}
}

#pronouns {
	text-align-last: justify;
}

#imood {
	text-decoration: none;
}
