body > main {
	> hgroup {
		border-bottom: 1px solid currentcolor;
	}

	article {
		border-top: 2px solid currentcolor;
		padding-block: 0.25em;

		> header {
			.time > a {
				text-decoration: none;
			}

			h1 > a {
				text-decoration: none;
			}
		}
	
		img {
			max-height: 480px;		
		}
	}
}

#paginator {
  text-align: center;
}

#newer,
#older {
  text-decoration: none;
}

#newer::before { content: "← "; }
#older::after { content: " →"; }
