body > main {
	> hgroup {
		border-block-end: 1px solid currentcolor;
	}

	article {
		border-block-start: 2px solid currentcolor;
		padding-block: 0.25em;

		> header {
			.time > a {
				text-decoration: none;
			}

			h1 > a {
				text-decoration: none;
			}
		}
	
		img {
			max-block-size: 480px;		
		}
	}
}
