body > main {
	> hgroup {
		border-block-end: 1px solid currentcolor;
	}

	article {
		border-block-start: 2px solid currentcolor;
		padding-block: 0.25em;

		> hgroup {
			p.p-name {
				font-size: 1.5em;
				font-weight: bold;
			}

			p.p-name, h1:has(time) {
				> a {
					text-decoration: none;
				}
			}
		}
	
		img {
			max-block-size: 480px;		
		}
	}
}
