main {
	> hgroup {
		border-bottom: 1px solid currentcolor;
	}

	article {
		border-top: 2px solid currentcolor;
		padding-block: 0.25em;

		> header > h1 > a {
			text-decoration: none;
		}
	
		img {
			max-height: 480px;		
		}
	}
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 4em
}

#sectiondesc {
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}

#paginator {
  text-align: center;
}

#newer,
#older {
  text-decoration: none;
}

#newer::before { content: "← "; }
#older::after { content: " →"; }
