@import "flexoki.css"

* {
    // color: blue;  // the hello world of css
    font-family: "Cantarell";
}

body {
	background-color: flexoki-paper;
	color: flexoki-black;
}

nav > ul > li {
    text-decoration: none;
    list-style-type: none;
}
