@use "skip";
@use "theme";
@use "base";
@use "header";
@use "sidebar";
@use "space";

/* this is here because, by default, an `h1`'s font size is set to `1.5em` if it is in an `article`, an `aside`, a `nav` or a `section`. source is <https://stackoverflow.com/questions/26290849/why-is-size-of-h1-different-inside-a-section-element>. */
h1 {
	font-size: 2em;
}

img {
	max-inline-size: 100%;
}

blockquote {
	margin-inline-start: 0;
	padding-inline-start: 1em;
}

code {
	padding: 0.1em 0.2em;
	font-size: 12pt;
}

pre {
	overflow: auto;
	/*
	padding: 0.3em;
	 */
	padding: 1rem;

	/*
	table {
		inline-size: 100%;

		td {
			padding: 0;
		}

		td:nth-of-type(1) {
			text-align: center;
			user-select: none;
		}
	}
	*/

	mark {
		display: block;
	}

	code {
		padding: 0;
	}
}

.footnote-definition {
	margin-block-start: 1em;

	&:first-of-type {
		margin-block-start: 3em;
	}

	p {
		display: inline;
	}
}

/*
table {
	border-spacing: 0;

	th, td {
		border: 1px solid;
		border-inline-start: none;
		padding: 0.2em;

		&:first-child {
			border-inline-start: 1px solid;
		}
	}

	th {
		border-block-start: 1px solid;
	}

	td {
		border-block-start: none;
	}
}
*/

rt {
	font-size: 0.75em;
}

#syndication > p {
	margin-block-end: 0;
}

/*
make it so that the list items look like this:

· first item;
· second item;
· penultimate item; and
· last item.

(this is intended for `ol` and `ul`.)
*/
.list-with-punctuation {
	> li::after {
		content: ";";
	}
	> li:nth-last-of-type(2)::after {
		content: "; and";
	}
	> li:last-of-type::after {
		content: ".";
	}
}

.list-with-reduced-spacing {
	margin-block-start: 0;
	padding-inline-start: 2ch;
}


#continue-reading + p {
	margin-block-start: 0;
}
