@font-face {
    font-family: 'Fira Sans';
    src: url('font/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('font/Inter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('font/ZillaSlab-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --second-bg-color: #ffffff;
        --color: #2e222f;
        --second-color: #3e3546;
        --link-color: #374e4a;
        --visited-link-color: #6b3e75;
    }
}

/* dark theme color sheme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2e222f;
        --second-bg-color: #3e3546;
        --color: #ffffff;
        --second-color: #c7dcd0;
        --link-color: #b2ba90;
        --visited-link-color: #eaaded;
    }
}

:root {
    /* fonts */
    --title-font: "Metropolis", sans-serif;
    --body-font: "Inter", serif;
    --card-font: "Inter", serif;

    /* others */
    --radius: 8px;
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


*::selection {
    color: var(--bg-color);
    background-color: var(--color);
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--body-font);
}

#description {
    color: var(--bg-color);
    background-color: var(--color);
    user-select: none;
    text-align: center;
    padding: 16px;
    margin: 0px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

small {
    color: var(--second-color);
}

a:not(:has(img)) {
    color: var(--link-color);
    text-decoration: none;
}

a:hover:not(:has(img)) {
    text-decoration: underline;
}

a:focus:not(:has(img)) {
    background-color: var(--link-color);
    color: var(--bg-color) !important;
}

a:visited:not(:has(img)) {
    color: var(--visited-link-color);
}

/* masonry layout */
.cards {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
    margin: 40px;
    justify-content: center;
}

.cards div {
    background-color: var(--second-bg-color);
    border-radius: var(--radius);
    font-family: var(--body-font);
    text-align: center;
    font-size: 20px;
    box-shadow: var(--shadow);
    padding: 32px;
}

.cards div iframe,
.cards div img {
    border-radius: calc(var(--radius) * 2);
    box-shadow: var(--shadow);
}

.cards div.large-card {
    grid-column: auto / span 3;
}

/* size images to take up their grid column width */
.cards img {
    width: 100%;
}

a.social-link img {
    box-shadow: none;
    filter: sepia(100%) hue-rotate(-135deg);
    transition: 1.5s;
}

a.social-link img:hover {
    filter: none;
    transition: 0.75s;
}

a.social-link img:active {
    filter: contrast(200%);
    transition: 0.75s;
}