/* font setup */

/* display font */
@font-face {
    font-family: 'Zilla Slab';
    src: url('../font/ZillaSlab.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Veteran Typewriter';
    src: url('../font/veteran typewriter.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* body font */
@font-face {
    font-family: 'Fira Sans';
    src: url('../font/FiraSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* programming font */
@font-face {
    font-family: 'Fira Code';
    src: url('../font/FiraCode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Metropolis';
    src: url('../font/Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */