@import "variables.css";
@import "portrait.css";



/* selected content */

::selection {
    background-color: var(--color);
    color: var(--background-color);
}



/* scrollbar */

html {
    /* change scroll bar color */
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);

    /* make scrolling a bit slower */
    scroll-behavior: smooth;

    /* tweak scrolling padding */
    scroll-padding: 160px;
}


/* general properties */
body {

    /* typography */
    font-family: var(--body-font);
    color: var(--color);

    /* box-model stuff */
    padding-top: calc(var(--nav-height) * 2);
    background-color: var(--background-color);
}


/* navigation menu */

nav {
    /* positioning stuff */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;

    /* box-model stuff */
    width: var(--nav-width);
    height: var(--nav-height);
    padding: var(--regular-padding);
    background-color: var(--transparent-background-color);

    /* manipulation stuff */
    backdrop-filter: var(--blur);

    /* misc */
    box-shadow: var(--shadow);
}

nav ul {
    /* display */
    display: flex;
    flex-direction: row;

    /* positioning stuff */
    align-items: center;
    justify-content: center;
    /* float: left; */

    /* block-model stuff */
    /* height: 100%;
    width: 100%; */
    margin-block: 0;
}

nav ul li {
    /* display */
    display: inline-block;

    /* box-model stuff */
    /* padding-top: var(--regular-padding); */
    /* padding-bottom: var(--regular-padding); */
    /* padding: var(--regular-padding); */
    padding-inline: var(--regular-padding);

    /* misc */
    list-style-type: none;
    user-select: none;
}

nav ul li a {
    /* typography */
    font-family: var(--title-font);
    font-size: var(--navigation-font-size);
    color: var(--accent-color) !important;
    /* background-color: transparent !important; */
    /* text-decoration: none; */
    letter-spacing: 2.4px;
}


#logo img {
    /* box-model stuff */
    max-width: 439px;
    max-height: 439px;
}



/* header and sections */

header {
    /* typography */
    font-size: var(--header-font-size);
    text-align: center;

    /* box-model stuff */
    padding: var(--header-padding) !important;
    background-image: url("../images/header_background.png");
}

header>div {
    /* typography */
    /* color: white; */

    /* box-model stuff */
    min-width: 25%;
    padding: var(--regular-padding);
    background-color: var(--transparent-background-color);

    /* manipulation stuff */
    backdrop-filter: var(--blur);
}

header {
    /* display */
    display: flex;

    /* positioning */
    position: relative;
    align-items: center;
    flex-direction: column;

    /* box-model stuff */
    background-color: var(--card-background-color);
    margin-block: var(--regular-margin);
    padding: var(--regular-padding);
}

body>section img,
body>section iframe,
header,
header>div {
    /* misc */
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

footer {
    /* positioning stuff */
    position: absolute;
    left: 0;

    /* box-model stuff */
    width: 100%;

    /* manipulation stuff */
    backdrop-filter: brightness(0.75);
}

body>section#links {
    /* display stuff */
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* body>section#links>button {
    width: 100%;
} */

/* text */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* typography */
    font-family: var(--title-font);
}

h1,
h2,
h3 {
    /* positioning */
    text-align: center;
}


small {
    /* typography */
    color: var(--second-color);
}

code {
    /* typography */
    font-family: var(--code-font) !important;

    /* box-model stuff */
    padding: calc(var(--regular-padding) / 8);

    /* manipulation stuff */
    backdrop-filter: brightness(1.25);

    /* misc */
    border-color: var(--scrollbar-color);
    border-width: 1px;
    border-style: solid;
    border-radius: calc(var(--radius) / 2);
}


button {
    /* typography */
    color: var(--color);
    text-decoration: none !important;
    /* font-size: var(--button-padding); */

    /* box-model stuff */
    padding: var(--button-padding);
    background-color: transparent;
    overflow: clip;

    /* manipulation stuff */
    backdrop-filter: var(--button-backdrop-filter);

    /* misc */
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: calc(var(--radius) / 2);
    transition: 125ms;

    /* mix-blend-mode: screen; */
}

button:hover {
    /* box-model stuff */
    /* background-color: var(--button-background-color); */

    /* manipulation stuff */
    backdrop-filter: var(--button-hover-backdrop-filter);

    /* misc */
    /* border-color: var(--scrollbar-color); */
    /* border-color: var(--color); */
    box-shadow: var(--shadow);
}

button:focus,
button:active {
    border-color: var(--accent-color);
}

button:active {
    /* box-model stuff */
    /* background-color: var(--button-background-color); */

    /* manipulation stuff */
    /* backdrop-filter: brightness(1.5); */

    /* misc */
    box-shadow: none;
}

button:before {
    content: "";

    /* display */
    display: block;

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;

    /* box-model stuff */
    width: 0;
    padding-top: 0;
    background-color: var(--button-overlay-color);

    /* misc */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: 1s;
}


button:active:before {
    /* box-model stuff */
    width: 120%;
    padding-top: 120%;

    /* misc */
    transition: width .2s ease-out, padding-top .2s ease-out;
}


a {
    /* typography */
    color: var(--accent-color);
    text-decoration: none;

    /* misc */
    border-radius: calc(var(--radius) / 2);
}

a:hover {
    /* typography */
    text-decoration: underline;
}

a:focus {
    /* manipulation stuff */
    backdrop-filter: brightness(0.75);
}


a:visited {
    /* typography */
    color: var(--visited-link-color);
}