@import "variables.css";
@import "portrait.css";



/* selected content */
::selection {
    background-color: var(--color);
    color: var(--background-color);
}


/* scrollbar */
html {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);

    scroll-behavior: smooth;

    scroll-padding: 160px;
}


/* general properties */
body {

    font-family: var(--main-font) !important;
    color: var(--color);

    padding-top: 12.5%;
    
    background-color: var(--background-color);
    background-image: url("../images/noise.png");
}


/* main title box */
header {
    font-size: var(--header-font-size);
    text-align: center;

    padding: var(--header-padding) !important;

    display: flex;

    position: relative;
    align-items: center;
    flex-direction: column;

    margin-block: var(--regular-margin);
    padding: var(--regular-padding);
    
    backdrop-filter: var(--blur);

    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

h1,
h2,
h3 {
    text-align: center
}


/* button */
button {
    color: var(--color);
    text-decoration: none !important;
    font-size: var(--button-font-size);

    padding: var(--button-padding);
    background-color: transparent;
    overflow: clip;

    backdrop-filter: var(--blur);
  
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: calc(var(--radius) / 2);
    transition: 125ms;
    box-shadow: var(--shadow);
}

button:hover {
    backdrop-filter: var(--button-hover-backdrop-filter) var(--blur);
    /*transition: 125ms;*/
}

button:focus,
button:active {
    border-color: var(--accent-color);
}

button:active {
    box-shadow: none;
}

button:before {
    content: "";

    display: block;    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 0;
    padding-top: 0;
    background-color: var(--button-overlay-color);

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: 1s;
}

button:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

