@import "font.css";

:root {
    /* typography */
    --color: #ffffff;
    --second-color: #c7dcd0;
    --accent-color: #ffffff77;
    --visited-link-color: #eaaded;

    /* box-model stuff */
    --background-color: #000000;
    --button-overlay-color: #00000033;
    --regular-margin: 16px;
    --button-padding: 16px;
    --header-padding: 64px;

    /* manipulation stuff */
    --button-backdrop-filter: brightness(1.25);
    --button-hover-backdrop-filter: brightness(1.75);

    /* misc */
    --scrollbar-color: #fff;
    --scrollbar-background-color: #000;

    /* typography */
    --button-font-size: 16px;
    --header-font-size: 32px;
    --main-font: "Zilla Slab", serif;

    /* manipulation stuff */
    --blur: blur(2px);
    --opacity: 0.38;

    /* misc */
    --radius: 25px;
    --shadow: 0px 0px 16px rgba(0, 0, 0, 1);
}
