@import "font.css";

/* light theme color sheme */
@media (prefers-color-scheme: light) {
    :root {
        /* typography */
        --color: #2e222f;
        --second-color: #3e3546;
        --accent-color: #547e64;
        --visited-link-color: #6b3e75;

        /* box-model stuff */
        --background-color: #ffffff;
        --transparent-background-color: #ffffff60;
        --card-background-color: #ffffff;
        --button-background-color: #9babb260;
        --button-overlay-color: #2e222f40;

        /* manipulation stuff */
        --button-backdrop-filter: brightness(1);
        --button-hover-backdrop-filter: brightness(1);

        /* misc */
        --scrollbar-color: #9babb2;
        --scrollbar-background-color: #c7dcd0;
    }
}

/* dark theme color sheme */
@media (prefers-color-scheme: dark) {
    :root {
        /* typography */
        --color: #ffffff;
        --second-color: #c7dcd0;
        --accent-color: #547e64;
        --visited-link-color: #eaaded;

        /* box-model stuff */
        --background-color: #2e222f;
        --transparent-background-color: #2e222f60;
        --card-background-color: #372d3c;
        --button-background-color: #62556560;
        /* --button-overlay-color: #ffffff40; */
        --button-overlay-color: #2e222f40;

        /* manipulation stuff */
        --button-backdrop-filter: brightness(1.25);
        --button-hover-backdrop-filter: brightness(1.75);

        /* misc */
        --scrollbar-color: #625565;
        --scrollbar-background-color: #3e3546;

    }
}

/* constant variables */
:root {
    /* display */
    /* --card-columns: repeat(auto-fill, 200px); */

    /* typography */
    --title-font: "Zilla Slab", serif;
    --body-font: "Fira Sans", sans-serif;
    --code-font: "Fira Code", lucida;
    --regular-font-size: 16px;
    --navigation-font-size: 32px;
    --header-font-size: 32px;
    /* --card-font-size: 20px; */


    /* box-model stuff */
    --nav-width: 100%;
    --nav-height: 75px;
    --regular-margin: 16px;
    --regular-padding: 32px;
    --button-padding: 16px;
    --header-padding: 64px;
    /* --card-min-width: 42%; */
    /* --card-gap: 36px; */

    /* manipulation stuff */
    --blur: blur(50px);
    --opacity: 0.38;

    /* misc */
    --radius: 25px;
    --shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    /* --trans: 0.75s; */
    /* --second-trans: 1.5s; */
}