@import "style.css";

#description {
    font-size: calc(var(--description-font-size) * 1.5) !important;
}

.cards>div {
    margin-left: 8px;
    margin-right: 8px;
}

.cards {
    align-items: stretch;
}