<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>

	<meta name="viewport" content="width=640, interactive-widget=overlays-content" />
	<meta name="theme-color" content="ivory" />

	<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
	{% block extra_head -%}
	<link rel="feed" href="{{ config.extra.hfeed }}" />
	{%- endblock extra_head %}

	{%- block feed_link %}{% if config.generate_feed -%}
	<link
		rel="alternate"
		type="application/atom+xml"
		title="feed"
		href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}"
	/>
	{%- endif %}{% endblock %}

	<meta name="author" content="{{ config.author }}" />
	<meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}" />
	<meta property="og:url" content="{{ current_url | default(value=config.base_url ~ "404") }}">
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:image" content="{{ config.extra.ogimage }}" />
	<meta property="og:site_name" content="{{ config.title }}" />

	<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
	<link rel="openid.delegate" href="{{ config.base_url }}" />
	<link rel="openid.server" href="https://openid.indieauth.com/openid" />
	<link rel="webmention" href="https://webmention.io/thatoddshade.is-a.dev/webmention" />
	<link rel="microsub" href="https://aperture.p3k.io/microsub/1024" />
	<link rel="micropub" href="https://thatoddshade-palace.netlify.app/micropub" />
	
	{% for favicon in config.extra.favicons %}
	<link rel="{{ favicon.rel }}" type="{{ favicon.type }}" href="{{ favicon.href }}"{% if favicon.sizes %} sizes="{{ favicon.sizes }}"{% endif %} />
	{%- endfor %}

	<meta name="apple-mobile-web-app-title" content="{{ config.author }}" />

	<!-- https://indieweb.org/rel-me -->
	{% if config.extra.links -%}
	{%- for link in config.extra.links -%}
	{%- if not link.inactive -%}
	<link rel="me" title="{{ link.name }}" href="{{ link.url }}" {% if link.lang %}hreflang="{{ link.lang }}"{% endif %} />
	{% endif -%}
	{%- endfor -%}
	{%- endif %}
</head>

<!--
  /___   __   ____    \
 /|   \ /  \ |    \\  /\
/ |___/|    ||     |\/  \
\ |   \|    ||     |/   /
 \|___/ \__/ |____//   /
  \                   /
-->
<body id="begin">
	<a href="#maincontent" id="skip">Skip to content</a>

	{% block header %}{% endblock header %}

	{% if config.extra.homepage_links -%}
	<nav id="navigation-links">
		<ul>{% for link in config.extra.homepage_links -%}
			{%- if page.path -%}
			{%- set current_path = page.path -%}
			{%- elif section.path -%}
			{%- set current_path = section.path -%}
			{%- else -%}
			{%- set current_path = config.base_url -%}
			{%- endif -%}
			{%- set is_current_page = get_url(path=link.url) == get_url(path=current_path) ~ "/" %}
			<li{% if is_current_page == true %}
				aria-current="page"
				{%- endif %}><a href="{{ get_url(path=link.url) }}">{{ link.name }}</a></li>
			{%- endfor %}	
		</ul>
	</nav>
	{%- endif %}

	{% block content %}{% endblock content %}

	<footer>
		<!-- I have way to much fun with alliterations. -->
		<a href="#begin" fetchpriority="high" id="scrolltostart" class="invert"
				title="Back to beginning">Back to beginning</a>
	</footer>
</body>
</html>
