{% extends "base.html" %}

{% block extra_head -%}
	<link rel="stylesheet" href="{{ get_url(path='homepage.css', cachebust=true) }}" />
	<link rel="preload" href="{{ config.extra.photo }}" as="image" />
	<link rel="preload" href="animation.js" as="script" />
{%- endblock extra_head %}

{#{% block header %}#}
{% block content %}
<main class="h-card">
	{#-<div id="notice-button">
		<p>Link to my button!</p>
		<img class="pixelated" alt="website button" src="/images/buttons/website.png" width="88" height="31" />
	</div>
	
	{% if config.extra.email %}
	<div id="notice-e-mail">
		<p><a class="u-email" href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></p>
		<div>
			<img src="/images/envelope.svg">
			<p>E-mail me stuff!</p>
		</div>
	</div>
	{% endif %}#}
	
	<div id="homepage-frame"></div>
	
	<canvas aria-hidden="true" id="animation" width="320" height="240">
		<picture>
			<source srcset="/images/animation.webp" type="image/webp" />
			<img aria-hidden="true" width="640" height="480" src="/images/animation.gif" type="image/gif" />
		</picture>
	</canvas>
	<script src="animation.js" type="text/javascript"></script>
	
	<div id="frame">
		<div id="logo">
			<img id="picture" class="u-photo" width="320px" fetchpriority="high" src="{{ config.extra.photo }}" alt="Torn paper with green paint and pencil all over it" />
			<h1 id="username" class="sc"><a class="u-uid u-url p-name p-nickname" href="/">{{ config.author }}</a></h1>
		</div>
	
		<a class="u-email" href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
	
		{#<p>
		<span class="dt-bday">born on <time class="value" datetime="--05-26">a May 26<sup>th</sup></time></span>,
			<span class="p-country-name">living in <span class="value">France</span></span>.
		</p>
	
		{% if config.extra.links %}
		<details>
			<summary>Links</summary>
			<h2>Links</h2>
			<ul class="list-with-punctuation list-with-reduced-spacing">
				{% for link in config.extra.links %}
				<li>{% if link.inactive %}<s>{% endif %}
					<a
						rel="me"
						class="u-url"
						href="{{ link.url }}"
						{% if link.lang %}hreflang="{{ link.lang }}"{% endif %}
					>{{ link.name }}</a>{% if link.inactive %}</s>{% endif %}
				</li>
				{% endfor %}
			</ul>
		</details>
		{% endif %}
	
		<section>	
			{% if config.extra.homepage_links %}
			<nav id="header-navigation">
				<ul>
					{% for link in config.extra.homepage_links %}
					{% if page.path %}
					{% set current_path = page.path %}
					{% elif section.path %}
					{% set current_path = section.path %}
					{% else %}
					{% set current_path = config.base_url %}
					{% endif %}
					{% set is_current_page = get_url(path=link.href) == get_url(path=current_path) ~ "/" %}
					<li
						{% if is_current_page == true %}
						aria-current="page"
						{% endif %}
					>
						<a
							href="{{ get_url(path=link.href) }}"
						>
							{{ link.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}	
		</section>
	
		<ul id="pronouns">
			<li>
				<a class="u-pronoun" href="https://en.wiktionary.org/wiki/they#Pronoun" hreflang="en" lang="en">they</a>
			</li>
			<li>
				<a class="u-pronoun" href="https://en.wiktionary.org/wiki/it#Pronoun" hreflang="en" lang="en">it</a>
			</li>
			<li>any</li>
			<li>
				<a class="u-pronoun" href="https://fr.wiktionary.org/wiki/al#Forme_de_pronom_personnel" hreflang="fr" lang="fr">al</a>
			</li>
			<li>
				<a class="u-pronoun" href="https://fr.wiktionary.org/wiki/c%C3%A9zigue#Pronom_personnel" hreflang="fr" lang="fr">cézigue</a>
			</li>
			<li>
				<a class="u-pronoun" href="https://fr.wiktionary.org/wiki/il#Pronom_personnel" hreflang="fr" lang="fr">il</a>
			</li>
		</ul>-#}
	
		<a id="imood" href="https://www.imood.com/users/{{ config.extra.imood }}"><img height="15" fetchpriority="low" src="https://moods.imood.com/display/uname-{{ config.extra.imood }}/trans-1/imood.gif" alt="Mood" border="0"></a>
	
		<img aria-hidden="true" width="56" height="35" id="blinking-eye" alt="Blinking eye" src="/images/eye.gif" class="pixelated" />
	</div>
</main>
{% endblock content %}

	{#{% endblock header %}

	
	{% block content %}
	{% if section.content %}<main id="maincontent">{{ section.content | safe }}</main>{% endif %}

</div>
	{% endblock content %}
	
	

	{% block footer %}
	<footer>
		<a href="https://brainmade.org" title="this website was made by a being with a brain." id="brainmade">
			<img src="/images/buttons/brainmade.png" alt="a logo of a human with a seed germinating in their head, with the word „BRAINMADE“ next to it" class="pixelated" />
		</a>
	
		{% include "croutons.html" %}
	</footer>
	{% endblock footer %}#}
