<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="description" content="
		{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}
	"/>

	<title>{% block title %}{{ config.title }}{% endblock title %}</title>

	{% block extra_head %}
	<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
	{% endblock extra_head %}

	<link rel="icon" type="image/png" href="{{ config.extra.photo }}" />

	<!-- add a [rel-me](https://indieweb.org/rel-me) for each `config.extra.links` dictionary's `href` -->
	{% if config.extra.links %}
	{% for link in config.extra.links %}
	<link rel="me" href="{{ link.href }}" />
	{% endfor %}
	{% endif %}

	{% block feed_link %}
	{% if config.generate_feed %}
	<link rel="alternate" type="application/atom+xml" title="feed" href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" />
	{% endif %}
	{% endblock %}
</head>

<body>

	{% block header %}
	<header class="space">
		<div class="h-card">
			<link class="p-name" title="{{ config.title }}">
			<link class="u-photo" href="{{ config.extra.photo }}" />
			<link class="u-url" href="{{ config.base_url }}" />

			<link class="p-country-name" title="France" />
			<time class="dt-bday" datetime="--05-26"></time>

			<link class="u-pronoun" href="https://en.wiktionary.org/wiki/he#Pronoun" hreflang="en" title="he" />
			<link class="u-pronoun" href="https://fr.wiktionary.org/wiki/il#Pronom_personnel" hreflang="fr" title="il" />
		</div>

		{% if config.extra.homepage_links %}
		<nav class="header-links">
			{% for link in config.extra.homepage_links %}
			<a href="{{ get_url(path=link.href) }}">{{ link.title }}</a>
			{% endfor %}
		</nav>
		{% endif %}
	</header>
	{% endblock header %}


	{% block content %}
	{% set blog = get_section(path="posts/_index.md") %}

	{% if section.content or blog.pages %}
	<main>

		{% if section.content %}
		<div {% if blog.pages %}class="space"{% endif %}>
			{{ section.content | safe }}
		</div>
		{% endif %}

		{% if blog.pages %}
		<h2>recent posts</h2>
		<table>
			{% for post in blog.pages | slice(end=5) %}
			<tr class="h-entry">
				<td class="dt-published">{{ post.date }}</td>
				<td><a class="u-url p-name" href="{{ post.permalink }}">{{ post.title }}</a></td>
			</tr>
			{% endfor %}
		</table>

		<p><a href="{{ blog.permalink }}">all</a></p>
		{% endif %}

	</main>
	{% endif %}
	{% endblock content %}
</body>
</html>
