{% extends "index.html" %}

{% block title %}
{%- if page.title -%}{{ page.title }}
{%- elif page.extra.like_of -%}like of {% include "liked_title.html" %}
{%- elif page.extra.repost_of -%}repost of {% include "reposted_title.html" %}
{%- else -%}{{ page.content | striptags | truncate(length=32)}}
{%- endif -%}
{{ config.extra.title_separator }}{{ config.title }}
{% endblock title %}

{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block content %}
<main id="maincontent"
	class="h-entry"

	{% if page.extra.lang %}
	lang="{{ page.extra.lang }}"
	{% else %}
	lang="{{ page.lang }}"
	{% endif %}
>
	<link class="u-url" href="{{ page.permalink }}" />

	<meta
		name="fediverse:creator"
		content="{{ config.extra.mastodon_username }}"
	>

	<div class="p-author h-card">
		<link class="p-name" title="{{ config.title }}" />
		<link class="u-uid u-url" href="{{ config.base_url }}" />
		<link class="u-photo" href="{{ config.extra.photo }}" />

		{% if config.extra.links %}
		{% for link in config.extra.links %}
		<link
			class="u-url"
			title="{{ link.name }}"
			href="{{ link.url }}"
			{% if link.lang %}hreflang="{{ link.lang }}"{% endif %}
		/>
		{% endfor %}
		{% endif %}
	</div>
	
	<hgroup>
		{% if page.date or page.updated %}
		<p>
			{% if page.date %}
			<span>
				{% include "publication_date.html" %}
			</span>
			{% endif %}

			{% if page.date and page.updated %}
			<br />
			{% endif %}

			{% if page.updated %}
			<span>
				<abbr title="this page was last updated on the">u</abbr>:
				<time class="dt-updated">{{ page.updated | date(format="%Y-%m-%dT%T%Z") }}</time>
			</span>
			{% endif %}
		</p>
		{% endif %}

		{% include "like.html" %}
		{% include "reply.html" %}
		{% include "summary.html" %}

		{% if page.title %}	
		<h1 class="p-name">
			{{ page.title }}
		</h1>
		{% endif %}	

		{# list of the websites supported by brid.gy #}
		{% for website in ["bluesky", "flickr", "github", "mastodon"]%}	
		{% if page.extra.publish_on[website] %}
		<a href="https://brid.gy/publish/{{ website }}"></a>
		{% endif %}
		{% endfor %}
	</hgroup>

	{% include "repost.html" %}

	<div class="e-content">{{ page.content | safe }}</div>

	{% if page.extra.syndication %}
	<div id="syndication">	
		<p>
			<abbr
				title="these platforms may allow commenting/replying, which can be done to give feedback, request for an edit or state any kind of thought."
			>also on</abbr>:
		</p>
		<ul class="list-with-punctuation list-with-reduced-spacing">
			{% for syndication in page.extra.syndication %}
			<li>
				<a
					class="u-syndication"
					href="{{ syndication.url }}"
				>{{ syndication.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</main>
{% endblock content %}
