{% extends "index.html" %}

{% block title %}{{ page.title }}{{ config.extra.title_separator }}{{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block header %}
<header class="space">
    <a href="{{ config.base_url }}">home</a>
</header>
{% endblock header %}

{% block content %}
<main id="maincontent"
	class="h-entry"

	{% if page.extra.lang %}
	lang="{{ page.extra.lang }}"
	{% else %}
	lang="{{ page.lang }}"
	{% endif %}
>
	<link class="u-url" href="{{ page.permalink }}" />

	<meta name="fediverse:creator" content="{{ config.extra.mastodon_username }}">
	<div class="p-author h-card">
		<link class="p-name" title="{{ config.title }}" />
		<link class="u-url" href="{{ config.base_url }}" />
		<link class="u-photo" href="{{config.extra.photo}}" />
	</div>
	
	<hgroup>
		{% if page.date or page.updated %}
		<p>
			{% if page.date %}
			published on the
			<time class="dt-published">
				{{ page.date | date(format="%Y-%m-%d") }}
			</time>
			{% endif %}

			{% if page.date and page.updated %}
			<br />
			{% endif %}

			{% if page.updated %}
			updated on the
			<time class="dt-updated">{{ page.updated | date(format="%Y-%m-%d") }}</time>
			{% endif %}
		</p>
		{% endif %}

		{% if page.extra.like_of %}
		<p>
			like of <a class="u-like-of" href="{{ page.extra.like_of}}">
				{{ page.extra.like_of }}
			</a>
		</p>
		{% endif %}

		{% if page.extra.repost_of %}
		<p>
			repost of <a class="u-repost-of" href="{{ page.extra.repost_of }}">
				{{ page.extra.repost_of }}
			</a>
		</p>
		{% endif %}

		{% if page.description %}
		<p class="p-summary">
			{{ page.description }}
		</p>
		{% endif %}

		{% if page.title %}	
		<h1 class="p-name">
			{{ page.title }}
		</h1>
		{% endif %}	
	</hgroup>

	<div class="e-content">{{ page.content | safe }}</div>

	<p>	
		{% if page.extra.syndication %}
		also on:
		<ul>
			{% for syndication in page.extra.syndication %}
			<li><a class="u-syndication" href="{{ syndication.href }}">
				{{ syndication.title }}
			</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</p>
</main>
{% endblock content %}
