{% if page.extra.repost_of %}
<div class="h-cite u-repost-of">
	<p class="repost">Reposted
	<a class="u-url" href="{{ page.extra.repost_of.url }}">{% if page.extra.repost_of.name %}{{ page.extra.repost_of.name }}{% else %}{{ page.extra.repost_of.url }}{% endif %}</a>
	{% if page.extra.repost_of.author %}
	by
	<span class="p-author h-card">
		{% if page.extra.repost_of.author.url%}
		<a class="u-url p-name" href="{{ page.extra.repost_of.author.url }}">{{ page.extra.repost_of.author.name }}</a>
		{% else %}
		<span class="p-name">{{ page.extra.repost_of.author.name }}</span>
		{% endif %}
	</span>
	{% endif %} :

	{% if page.extra.repost_of.content %}
	<blockquote class="e-content">
		{{ page.extra.repost_of.content | markdown | safe }}
	</blockquote>
	{% endif %}
</div>
{% endif %}
