{% extends "page.html" %}

{% block title %}{{ section.title }}{{ config.extra.title_separator }}{{ config.title }}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='section.css', cachebust=true) }}" />
{% endblock extra_head %}

{% block content %}
<main class="h-feed" id="maincontent">
	<header>
		<h1 class="p-name">{{ section.title }}</h1>

		{% if section.description%}
		<p class="p-summary">{{ section.description | safe }}</p>
		{% endif %}
	</header>
	
	{% if paginator.pages %}	
	{% for page in paginator.pages %}
	<article class="post h-entry">
		<header>
			<p class="time"><a class="u-url" href="{{ page.permalink }}">
				{% include "date.html" %}
			</a></p>
			
			{% include "summary.html" %}

			{% if page.title %}
			<h2 class="p-name"><a href="{{ page.permalink }}">
				{{ page.title }}
			</a></h2>
			{% endif %}
		</header>


		{# zola's `page.summary` corresponds to all the content before `<!-- more -->`. #}
		{# it is not to be confused with the `p-summary` microformat, which I set to zola's `page.description`. #}
		{% if page.summary %}
		<div>
			{{ page.summary | safe }}
			<p>…</p>
		</div>
		{% endif %}
	</article>
	{% endfor %}

	<aside id="paginator">
		{% if paginator.previous %}<a href="{{ paginator.previous }}#paginator" id="newer">Newer posts</a>{% endif %}
		<span id="index">{{ paginator.current_index ~ "/" ~ paginator.number_pagers }}</span>
		{% if paginator.next %}<a href="{{ paginator.next }}#paginator" id="older">Older posts</a>{% endif %}
	</aside>

	{% else %}
	<p>This section is empty.</p>
	{% endif %}
</main>
{% endblock content %}
