{% extends "page.html" %}

{% block title %}{{ section.title }}{{ config.extra.title_separator }}{{ config.title }}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
<link rel="stylesheet" href="{{ get_url(path='section.css', cachebust=true) }}" />
{% endblock extra_head %}
{% block content %}
<main>

	<h1>{{ section.title }}</h1>

	{% if section.pages %}

	<table>
		{% for post in section.pages %}
		<tr class="h-entry">
			<td>
				<a class="u-url dt-published" href="{{ post.permalink }}">
					{{ post.date }}
				</a>
			</td>
			<td>
				{% if post.title %}
				<span class="p-name">	
					{{ post.title }}
				</span>

				{% else %}
				<br />

				{% endif %}

			</td>
		</tr>
		{% endfor %}
	</table>


	{% else %}
	<p>there is nothing here yet.</p>
	{% endif %}

</main>
{% endblock content %}
